.seekingBarHotspotsWrapper {
  position: relative;
  width: 100%;
  .seekingBarWrapper {
    width: 100%;
    margin: 0.4em 0 !important;
    div {
      div {
        margin: 0 !important;
      }
    }
  }
  .hotspotsWrapper {
    position: absolute;
    top: 0.35em;
    width: 100%;
    text-align: left;
  }
}

.cardWrapper {
  width: 150px;
}
