.controlsDurationWrapper {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0.4em 0 !important;
  width: 100%;
  .controlsWrapper {
    margin-right: 0.4rem;
  }
  .durationWrapper {
    font-size: 1.3rem;
    margin-left: 0.4rem;
  }
}
