@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    background-color: #ffffff;
    position: relative;
    line-height: 1;
    min-width: 370px;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    font-size: 15px;
}

body {
    position: relative;
    min-height: 100%;
    height: auto;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 1.4285rem;
}
